<div class="secction__banner">
    <div class="container__img">
        <img src="../img/banner.jpg" alt="banner">
    </div>
    <div class="publicidad">
        <div class="doit">Just do IT</div>
        <h4>Natural 100% <br> Organic</h4>
        <a class="click" href="#">Shop</a>
    </div>
</div>