<footer >
    <div class="footer__logo">
        <h1>Verdulex</h1><i class="fab fa-envira"></i>
    </div>
    <div class="main-content">
        <div class="left box">
          <h5>Contact Us</h5>
          <div class="content">
            <div class="social">
              <a href="https://facebook.com" target="_blank"><span class="fab fa-facebook-f"></span></a>
              <a href="https://twitter.com" target="_blank"><span class="fab fa-twitter"></span></a>
              <a href="https://instagram.com" target="_blank"><span class="fab fa-instagram"></span></a>
              <a href="https://youtube.com" target="_blank"><span class="fab fa-youtube"></span></a>
            </div>
          </div>
        </div>
  
        <div class="center box">
          <h5>Direccion</h5>
          <div class="content">
            <div class="place">
              <span class="fas fa-map-marker-alt"></span>
              <span class="text">Av.Asamblea 362-Parque Chacabuco</span>
            </div>
            <div class="phone">
              <span class="fas fa-phone-alt"></span>
              <span class="text">+54 11 6582-326-26</span>
            </div>
            <div class="email">
              <span class="fas fa-envelope"></span>
              <span class="text">Verdulex.tres@gmail.com</span>
            </div>
          </div>
        </div>
  
        <div class="right box">
          <h5>Envianos tus Preguntas</h5>
          <div class="content">
            <form action="#" method="POST">
              <div class="email">
                <div class="text">Email *</div>
                <input type="email" placeholder="E-mail" required>
              </div>
              <div class="msg">
                <div class="text">Mensaje *</div>
                <textarea placeholder="Escribi aqui tu mensaje">
                </textarea>
              </div>
              <div class="btn">
                <button type="submit">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="bottom">
          <a><span class="credit">Creado por Brayann Farfan</a> | </span>
          <span class="far fa-copyright"></span><span> 2021 todos los derechos reservados.</span>
      </div>
      <div class="pagos">
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-paypal"></i>
        <i class="fab fa-cc-discover"></i>
        <i class="fab fa-cc-apple-pay"></i>
      </div>



</footer>