<header class="i-header">
    <div class="container__logo">
        <h1>Verdulex</h1>
        
    </div>
    <nav class="nav bd-grid">
        <div class="container__icons">
                <a href="/user/login"><i class="fas fa-user"></i></a>
                <a href=""><i class="fas fa-shopping-bag"></i></a>
        </div>
        <div class="nav__toggle" id="nav-toggle">
            <i class="fas fa-bars"></i>
        </div>
        <div class="nav__menu" id="nav-menu">
            <div class="nav__close" id="nav-close">
                <i class="fas fa-times"></i>
            </div>
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                <li class="nav__item"><a href="/about.html" class="nav__link " >About</a></li>
                <li class="nav__item"><a href="#About" class="nav__link">Procuts</a></li>
                <li class="nav__item"><a href="#About" class="nav__link ">Shop Online</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link ">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>