<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Login</title>
</head>
<body>
    
    <div class="container">
        <div class="formWraper">
            <div class="formDiv">
                <h2>LOGIN</h2>
                <p class="text__social">Sign Up with Social Media</p>
                <div class="socialbtn">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </div>
                <hr>
                <div class="orDiv">Or</div>
                <p class="text2">Login with email</p>
                <form action="">
                   
                    <div class="formGroup">
                        <i class="fas fa-envelope"></i>
                        <input type="text" id="email" placeholder="Email" class="input">
                    </div>
                    <div class="formGroup">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="name" placeholder="Password" class="input">
                    </div>
                    <div class="checkbox">
                        <span>You don't have an account? <a class="link" href="./register">Register</a></span>
                    </div>
                    <button type="submit" class="btn__login" >Login</button>
                </form>
            </div>
            <div class="welcomeDiv">
                <h2>Welcome Back!</h2>
                <p class="text__banner">Get iun toydh ererer dsid sidsu sdusd</p>
            </div>
        </div>
    </div>
</body>
</html>